{% extends 'website/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}


 
  

{% block content %}

<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Contact Us</span>
          <h1 class="text-capitalize mb-4 text-lg">Get in Touch</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact form start -->
<section class="contact-form-wrap section">
	<div class="contact container ">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				
				<!-- Contact Form Start -->
				<form class="contact_us_form" id="contact-form">
					{% csrf_token %}
					<div class="row g-3">
						{{form.non_field_errors}}
						<div class="col-md-6">
							{{form.name.errors}}
							{% comment %} <input type="text" class="form-control border-0 bg-light px-4"
								placeholder="Your Name" style="height: 55px;"> {% endcomment %}
							{{form.name}}
						</div>

						<div class="col-md-6">
							{{form.email.errors}}
							{% comment %} <input type="email" class="form-control border-0 bg-light px-4"
								placeholder="Your Email" style="height: 55px;"> {% endcomment %}
							{{form.email}}
						</div>

						<div class="col-12">
							{{form.subject.errors}}
							{% comment %} <input type="text" class="form-control border-0 bg-light px-4"
								placeholder="Subject" style="height: 55px;"> {% endcomment %}
							{{form.subject}}
						</div>

						<div class="col-12">
							{{form.message.errors}}
							{% comment %} <textarea class="form-control border-0 bg-light px-4 py-3" rows="4"
								placeholder="Message"></textarea> {% endcomment %}
							{{form.message}}
						</div>

						<div class="col-md-12 text-center">
							<div class="loading">Loading</div>

							<div class="error-message">
								<div class="row">
									<div class="col-sm-11" style="font-size: 0.927rem;">Oops! There was an issue. Please mail us at
										aiprizmtech@gmail.com
									</div>
									<div class="col-sm-1 text-right">
										<button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtnError"></button>
									</div>
								</div>
							</div>


							<div class="sent-message">
								<div class="row">
									<div class="col-sm-11">
										Your message has been sent, we will get back to you. Thank you!
									</div>
									<div class="col-sm-1 text-right">
										<button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtn"></button>
									</div>
								</div>
							</div>

							<button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>


						</div>

					</div>
				</form>
				<!-- Contact Form End -->

			</div>

			<div class="col-lg-5 col-sm-12">
				<div class="contact-content pl-lg-5 mt-5 mt-lg-0">
					<span class="text-muted">We are Professionals</span>
					<h2 class="mb-5 mt-2">Don’t Hesitate to contact with us for any kind of information</h2>

					<ul class="address-block list-unstyled">
						<li>
							<i class="ti-direction mr-3"></i>North Main Street,Brooklyn Australia
						</li>
						<li>
							<i class="ti-email mr-3"></i>Email: contact@mail.com
						</li>
						<li>
							<i class="ti-mobile mr-3"></i>Phone:+88 01672 506 744
						</li>
					</ul>

					<ul class="social-icons list-inline mt-5">
						<li class="list-inline-item">
							<a href="http://www.themefisher.com"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="http://www.themefisher.com"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="http://www.themefisher.com"><i class="fab fa-linkedin-in"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="google-map">
	<div id="map" data-latitude="40.712776" data-longitude="-74.005974" data-marker="images/marker.png" data-marker-name="Megakit"></div>
</div>




{% block page_js %}
<script type='text/javascript'>

  $(document).ready(function(){

    // AJAX for posting
    function contact_us() {
		$('.loading').addClass("d-block")
        $.ajax({
            type: 'POST',
            url : "{% url 'contact' %}", // the endpoint
            type : "POST", // http method
            data : {
              name: $('#id_name').val(),
              subject: $('#id_subject').val(),
              email: $('#id_email').val(),
              message: $('#id_message').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }, // data sent with the post request
            // handle a successful response
            success : function(json) {
				
                $('#id_name').val(''); // remove the value from the input
                $('#id_subject').val(''); // remove the value from the input
                $('#id_email').val(''); // remove the value from the input
                $('#id_message').val('');
                $(".sent-message").addClass("d-block")
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $(".error-message").addClass("d-block")
				$('.loading').removeClass("d-block")
                
            }
        }).done((response) => {
            $('.loading').removeClass("d-block")
        });
    }

    // Submit post on submit
    $('#contact-form').off().on('submit', function(event){
        event.preventDefault();
        contact_us();
    });

	$("#closeBtn").click(function () {
        // $("#closeBtn").css("display", "none");
        $(".sent-message").removeClass("d-block")
            
        });

    $("#closeBtnError").click(function () {
        // $("#closeBtn").css("display", "none");
        $(".error-message").removeClass("d-block")
    });
    // $('.portfolio').hide();
    // $('.testimonials').hide();
    // $('.recent-blog-posts').hide();

})


</script>

{% endblock page_js %}
{% endblock content%}